In [9]:
from pyspark.sql import SparkSession

# Criar uma sessão Spark
spark = SparkSession.builder.appName("Exemplo Spark SQL").getOrCreate()

In [12]:
      #Criar um conjunto de dados fictício sobre estudantes
data = [
    ("Ana",20,"Matemática"),
    ("Pedro", 22, "Física"),
    ("Maria", 19, "Química"),
    ("Lucas", 21, "Biologia"),
    ("João", 22, "Matemática")
]

    # Definir os nomes das colunas
columns = ["Nome","Idade","Curso"]

# Criar um DataFrame
df = spark.createDataFrame(data, columns)

#Registrar o DataFrame como uma tabela temporária
df.createOrReplaceTempView("Estudadantes")

#Executar consultas SQL
print("Estudantes com mais de 20 anos:")
spark.sql("SELECT * FROM Estudadantes WHERE Idade > 20").show()

print("Número de estudantes por curso:")
spark.sql("SELECT Curso, COUNT(*) AS Total FROM Estudadantes GROUP BY Curso").show()

print("Idade média dos estudantes:")
spark.sql("SELECT AVG(Idade) AS IdadeMedia FROM Estudadantes").show()

# Encerrar a sessão Spark
spark.stop()

Estudantes com mais de 20 anos:
+-----+-----+----------+
| Nome|Idade|     Curso|
+-----+-----+----------+
|Pedro|   22|    Física|
|Lucas|   21|  Biologia|
| João|   22|Matemática|
+-----+-----+----------+

Número de estudantes por curso:

+----------+-----+
|     Curso|Total|
+----------+-----+
|    Física|    1|
|Matemática|    2|
|  Biologia|    1|
|   Química|    1|
+----------+-----+

Idade média dos estudantes:
+----------+
|IdadeMedia|
+----------+
|      20.8|
+----------+